body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  text-align: center;
  padding-top: 8rem;
  background-color: rgb(16, 16, 17);
}

h1 {
  color: rgb(197, 196, 196);
  text-align: center;
}

h2 {
  color: rgb(197, 196, 196);
  text-align: center;
}

.App {
  color: rgb(4, 4, 4);
  text-align: center;
}

